<!DOCTYPE html>
{{ $data := index .Site.Data }}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{ $style := resources.Get "css/style.css" | minify}}
  	<link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="section-a">
      <h1>{{ $data.gallery.title }}</h1>
        <div class="container">
          {{ range $data.gallery.imageList }}
            <div class="gallery">
              <a href="/{{ .link | markdownify }}"><img src="/{{ .src | markdownify }}" alt=""></a>
                <div class="desc">
                  {{ .info | markdownify }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
  </body>
</html>
